<title>{{.Site.Title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{{ "css/normalize.css" | relURL }}" />
<link rel="stylesheet" type="text/css" href="{{ "css/main.css" | relURL }}" />

{{ if isset .Site.Params "customcss" }}
    {{ range .Site.Params.customCss }}
    	<link rel="stylesheet" type="text/css" href="{{ .url }}" />
    {{ end }}
{{ end }}

{{ if isset .Site.Params "customjs" }}
    {{ range .Site.Params.customJs }}
    	<script src="{{.url}}"></script>
    {{ end }}
{{ end }}